/* CSS RESET START */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET END */

:root {
    --primary-color: #0484FF;
    --secondary-color: #E8EDFF;
	--background-color: white;
    --font-color: black;
}

body {
	background-color: white;
	background: url("img/background.svg");
	background-repeat: no-repeat;
	background-position-x: center;
	background-size: 1200px;
	overflow: hidden;
}

img {
	height: 100px;
	position: fixed;
	right: 0;
	top: 0;
	padding-right: 25px;
	padding-top: 25px;
}

.background-layer {
	display: flex;
	align-items: center;
	height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 25px;
}

h1 {
	color: var(--primary-color);
	font-family: 'Roboto Slab';
	font-weight: 900;
	font-size: 29px;
}

h2 {
	color: black;
	font-family: 'Roboto';
	font-size: 18px;
	font-weight: 600;
}